<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
 <form method="POST" action="/newteam">
    <input type="text" name="name" label="Team Name:">
    <input type="text" name="coach" label="Coach:">
    <input type="text" name="pg" label="Point Guard:">
    <input type="text" name="sg" label="Shooting Guard:">
    <input type="text" name="pf" label="Power Forward:">
    <input type="text" name="sf" label="">
    <input type="text" name="c" label="Center:">
    <input type="submit" id="Submit">


 </body>
</html>


